<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1><%= name %></h1>
    <img src="/images/<%= imageUrl %>" alt="" width="300px">
    <p><%= price %></p>
    <p>
       <% if (isActive) { %>
        <span>available</span>
        <% } else { %>
         <span>not available</span>
       <% } 
       %> 
    </p>
</body>
</html>